<!-- app.component.html -->

<div class="wrapper">
    <!-- Header -->
    <!-- <header id="header">
      <h1>Templates</h1>
      <!-- Add any additional header content as needed 
    </header> -->
  
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <!-- Add an optional logo or other header content here -->
        <h3>Admin Portal</h3>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a routerLink="/demo">Create form</a>
        </li>
        <li>
          <a routerLink="/temp">Form Templates</a>
        </li>
        <!-- Add more sidebar links as needed -->
      </ul>
    </nav>
  
    <!-- Page Content -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  
    <!-- Footer -->
    <!-- <footer id="footer">
      <!-- Add footer content, copyright, or other information 
      <p>&copy; 2024 Your Company</p>
    </footer> -->
  </div>
  